*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  max-height: 100%;
  font-size: 13px;
}

.main {
  height: 100%;
  max-height: 100%;
  font: 1rem 'Source Sans Pro', 'Helvetica Light', Helvetica, sans-serif;
  color: #424242;
  background-color: #F6F7F7;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  min-width: 1080px;
}

a {
  color: #21AAD2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5, h5 a {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

pre {
  margin: 0;
}

p, ul, ol {
  list-style: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
}

input, textarea {
  border-radius: 4px;
  line-height: 16px;
  padding: 5px 8px;
  border: 1px solid #cccccc;
  border-color: #d9d9d9 #cccccc #b3b3b3;
  font: 1rem "Source Sans Pro", "Helvetica Light", Helvetica, sans-serif;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
}

input[type="submit"], textarea[type="submit"] {
  width: 11rem;
}

input[type="checkbox"], textarea[type="checkbox"] {
  width: inherit;
}

input[type="radio"], textarea[type="radio"] {
  width: auto;
}

input:focus, textarea:focus {
  border-color: #0088cc #0099e6 #0099e6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px rgba(0, 136, 204, 0.5);
}

input.error-fld, textarea.error-fld {
  border-color: #F65;
}

input:disabled, textarea:disabled {
  background: #F8F8F8;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 3px 0;
}

.info-box, .warning {
  padding: 5px 10px;
  border-radius: 2px;
  margin: 5px 0;
}

.info {
  padding: 0;
  color: #777;
}

.warning {
  color: #2f2b2c;
  background: #FFEAD6;
  border: 1px solid #F9DDC2;
}

.center-align {
  text-align: center;
}

.svg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.svg-icon svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.button-text .svg-icon,
a .svg-icon {
  color: #989898;
}

.button-text .svg-icon:hover,
a .svg-icon:hover {
  color: #1DA0C7;
}

/**
 * Grid
 */
.grid, .grid-1-6, .grid-2-6, .grid-3-6, .grid-4-6, .grid-5-6 {
  display: inline-block;
  vertical-align: top;
}

.grid-1-6 {
  width: 16.666%;
}

.grid-2-6 {
  width: 33.333%;
}

.grid-3-6 {
  width: 50%;
}

.grid-4-6 {
  width: 66.666%;
}

.grid-5-6 {
  width: 83.333%;
}

.grid-5-6 {
  width: 100%;
}

.grid-spacer {
  height: 13px;
}

.grid-pad-right {
  padding-right: 10px;
}

@-webkit-keyframes halfspin {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes halfspin {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

/**
 * Empty page
 */
.empty-view {
  margin: auto;
  padding: 50px 0;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  border: 1px solid #DCDCDC;
  background: #fff;
}

.blur-page .comp-container {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -o-filter: blur(6px);
}

/**
 * Arrows
 */
.arrow-base, .arrow-down, .arrow-up, .arrow-left, .arrow-right {
  content: " ";
  display: block;
  height: 0;
  width: 0;
  border-style: solid;
  cursor: pointer;
}

.arrow-down {
  border-color: #BFBFBF transparent transparent;
  border-width: 5px 5px 0;
}

.arrow-up {
  border-color: transparent transparent #BFBFBF;
  border-width: 0 5px 5px;
}

.arrow-left {
  border-color: transparent #BFBFBF transparent transparent;
  border-width: 5px 5px 5px 0;
  margin-top: -3px;
  margin-right: 3px;
}

.arrow-right {
  border-color: transparent transparent transparent #BFBFBF;
  border-width: 5px 0 5px 5px;
  margin-top: -3px;
  margin-left: 3px;
}

/**
 * Page component
 */
.page-component-title {
  font-size: 24px;
  font-weight: 200;
  margin: 0 1px 8px;
}

/**
 * Icons
 */
.error-icon {
  display: inline-block;
}

.error-icon svg {
  fill: #FA5500;
  width: 16px;
  height: 16px;
}
